<!-- Footer de la página -->
<footer>
    <div class="footer-content">


        <!--REDES SOCIALES-->
<div class="footer-social">
    <h4>Síguenos</h4>
    <a href="https://www.facebook.com/fiorelatineozelaya?mibextid=ZbWKwL" target="_blank" style="color: #1877F2;"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.twitter.com" target="_blank" style="color: #1DA1F2;"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/fiorelatineozelaya?igsh=M2lzbGdwOTdlazBv" target="_blank" style="color: #E4405F;"><i class="fab fa-instagram"></i></a>
    <a href="https://wa.me/949265128" target="_blank" style="color: #25D366;"><i class="fab fa-whatsapp"></i></a>
</div>

        <!-- Información -->
        <div class="footer-info">
            <p>&copy; 2025 Santos Minning. Todos los derechos reservados.</p>
        </div>

    </div>
</footer>
